.header {
  display: flex;
  justify-content: space-between;
  margin: 0 auto;
  padding: 0;
  padding-bottom: 37px;
  max-width: 880px;
  min-height: 74px;
  opacity: 0.7;
  border-bottom: 1px solid rgba(84, 84, 84, 0.7);
}

@media screen and (max-width: 767px) {
  .header {
    padding-bottom: 8px;
  }
}