.popup__container_type_enlarge {
  display: block;
  margin: 0;
  padding: 0;
  background-color: transparent;
}

@media screen and (max-width: 767px) {
  .popup__container_type_enlarge {
    padding: 21px;
  }
}

/*.popup__container_type_enlarge{
  margin: 0;
  padding: 0;
  display: flex;
  align-content: center;
  flex-direction: column;
  justify-content: center;

  position: relative;
  background-color: transparent;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  box-sizing: border-box;



    margin: 0;
  padding: 0;
  display: flex;
  position: relative;
  max-width: 75vw;
  max-height: 75vh;
  background-color: transparent;
  box-shadow: 0px 0px 25px rgba(0, 0, 0, 0.15);
  border-radius: 10px;
  box-sizing: border-box;
}*/


